<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KC</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="stylesheet" href="node_modules/foundation-sites/dist/css/foundation.css">
    <link rel="stylesheet" href="node_modules/foundation-sites/dist/css/foundation.min.css">
  </head>
  <body>

    <!-- Header -->
    <div class="row">
      <div class="column">
        <div class="header-nav">
          <img src="{{root}}assets/img/logo.png" alt="" width = 100>
          <p class="header-nav-subtitle">KHATHAWUT CHAIPRAPHUN</p>
          <div class="menu-centered">
            <ul class="menu">
              <li><a href="index.html" class="header-nav-link is-active">PORTFOLIO</a></li>
              <li><a href="about.html" class="header-nav-link">ABOUT</a></li>
              <li><a href="contact.html" class="header-nav-link">CONTACT</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- content -->
    <div class="content">
      <div class="row small-up-1 medium-up-3">
        <div class="column column-block">
          <div class="item">
              <!-- <a href="#"><img src="asset/img/django.jpg"></a> -->
              <img data-toggle="animatedModal10" src="{{root}}assets/img/django.jpg">
              <div class="large reveal" id="animatedModal10" data-reveal data-close-on-click="true" data-animation-in="slide-in-down" data-animation-out="slide-out-up">
                  <!-- <p align="center">Django</p> -->
                  <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            <div class="item-overlay top"></div>
          </div>
        </div>

        <div class="column column-block">
          <div class="item">
            <img src="{{root}}assets/img/robot.jpg">
            <div class="item-overlay top"></div>
          </div>
        </div>

        <div class="column column-block">
          <div class="item">
            <img src="{{root}}assets/img/a4.png">
            <div class="item-overlay top"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="row">
      <div class="column">
        <div class="footer">
          <div class="menu-centered">
            <ul class="menu">
              <li><a href="https://www.facebook.com/bombaybws"><img src="{{root}}assets/img/icon/fb.png" alt="" width="30" class="footer-menu"></a></li>
              <li><a href="https://twitter.com/VII_BOMB"><img src="{{root}}assets/img/icon/tw.png" alt="" width="30" class="footer-menu"></a></li>
              <li><a href="https://www.instagram.com/thisisabomb/"><img src="{{root}}assets/img/icon/ig.png" alt="" width="30" class="footer-menu"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>